@font-face { 
    font-family: "GothamPro";
    src: url(/qbic007.github.io/coworking/fonts/GothamPro-Bold.woff) format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face { 
    font-family: "GothamPro";
    src: url(/qbic007.github.io/coworking/fonts/GothamPro-Light.woff) format("woff");
    font-weight: lighter;
    font-style: normal;
}

@font-face { 
    font-family: "GothamPro";
    src: url(/qbic007.github.io/coworking/fonts/GothamPro-LightItalic.woff) format("woff");
    font-weight: lighter;
    font-style: italic;
}

body {
    margin: 0;
}

.header {
    background-color: #27273e;
}

.container {
    margin: 0 auto;
    width: 1100px;
}

.header__container {
    height: 67px;
}

.banner {
    background-color: #27273e;
    display: block;
}

.banner__image {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.logo {
    float: left;
    margin-left: 19px;
    margin-top: 12px;
}

.contact-info {
    float: right;
    margin-top: 14px;
    margin-right: 19px;
}

.contact-info__phone {
    display: block;
    font: 21px/1.42 GothamPro, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    text-align: right;
    color: #fff;
    text-decoration: none;
}

.contact-info__shedule-link {
    display: block;
    float: right;
    font: 14px/1.42 "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    color: #b12167;
    letter-spacing: normal;
    text-decoration: underline;
}

.footer {
    background-color: #27273e;
    height: 76px;
}