@font-face { 
    font-family: "GothamPro";
    src: url(/qbic007.github.io/coworking/fonts/GothamPro-Bold.woff) format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face { 
    font-family: "GothamPro";
    src: url(/qbic007.github.io/coworking/fonts/GothamPro-Light.woff) format("woff");
    font-weight: lighter;
    font-style: normal;
}

@font-face { 
    font-family: "GothamPro";
    src: url(/qbic007.github.io/coworking/fonts/GothamPro-LightItalic.woff) format("woff");
    font-weight: lighter;
    font-style: italic;
}

body {
    margin: 0;
}

ul > li {
    list-style-type: none;
}

h1, h2, h3, p {
    margin: 0;
}

.header {
    background-color: #27273e;
}

.container {
    margin: 0 auto;
    width: 1100px;
}

.header__container {
    height: 67px;
}

.banner {
    background-color: #27273e;
    display: block;
}

.banner__image {
    width: 1100px;
    display: block;
    margin: 0 auto;
}

.aside {
    width: 195px;
    display: inline-block;
    vertical-align: top;
}

.left-menu {
    margin-top: 68px;
}

.left-menu__list {
    padding-left: 20px;
}

.left-menu__list-item {
    font: 13px/1.42 GothamPro, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 26px;
    text-align: left;
    color: #ec1e79;
}

.left-menu__list-item--main::before {
    content: url(../img/main_icon.png);
    margin-right: 20px;
}

.left-menu__list-item--reviews::before {
    content: url(../img/feed_icon.png);
    margin-right: 20px;
}

.left-menu__list-item--tariffs::before {
    content: url(../img/wallet_icon.png);
    margin-right: 20px;
}

.left-menu__list-item--active {
    color: black;
}

.content {
    display: inline-block;
    width: 900px;
    vertical-align: top;
}

.features {
    margin-top: 50px;
    font: 18px/1.42 GothamPro, sans-serif;
}

.features__container {
    margin-top: 51px;
}

.feature__icon-container {
    background-color: #27273e;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.feature__title {
    margin-top: 28px;
    margin-bottom: 0;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.feature__description {
    margin-top: 20px;
    line-height: 1.5em;
}

.feature__list {
    margin-top: 10px;
    padding-left: 0;
    margin-left: 45px;
    line-height: 1.8em;
}

.feature__list-item {
    list-style: disc;
    color: #ec1e79;
    text-align: left;
    padding-left: 16px;
}

.feature__list-item-text {
    color: black;
}

.feature {
    display: inline-block;
    width: 250px;
    text-align: center;
    margin-right: 15px;
}

.section-title {
    font: 49px/1.42 GothamPro, sans-serif;
    font-weight: bold;
}

.news {
    margin-top: 48px;    
    font: 18px/1.42 Roboto, sans-serif;
}

.news__container {
    margin-top: 50px;
}

.new__picture {
    display: inline-block;
    width: 160px;
}

.new__picture {
    border-radius: 50%;
}

.new__container {
    display: inline-block;
    width: 700px;
    padding-top: 8px;
    padding-left: 10px;
}

.new_datetime {
    font-size: 14px;
    color: #8e8d8d;
}

.new__title {    
    font-size: 18px;
    margin-bottom: 10px;
}

.new__container p {    
    line-height: 1.7em;
}

.new {
    margin-top: 32px;
}

.pagination {    
    margin-top: 47px;
    font: 14px/1.42 Roboto, sans-serif;
    color: b7b7b7;
    padding-left: 272px;
}

.pagination__pager {
    display: inline-block;
    font-weight: bold;
    padding-left: 8px;
}

.pagination__link, .pagination__link-left, .pagination__link-right {
    display: inline-block;
    width: 25px;
    height: 22px;
    padding-top: 3px;
    text-align: center;
}

.pagination__link--active {
    background-color: #27273e;
    border-radius: 3px;
    color: white;
}

.logo {
    float: left;
    margin-left: 19px;
    margin-top: 12px;
}

.contact-info {
    float: right;
    margin-top: 14px;
    margin-right: 19px;
}

.contact-info__phone {
    display: block;
    font: 21px/1.42 GothamPro, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    text-align: right;
    color: #fff;
    text-decoration: none;
}

.contact-info__shedule-link {
    display: block;
    float: right;
    font: 14px/1.42 "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    color: #b12167;
    letter-spacing: normal;
    text-decoration: underline;
}

.footer {
    background-color: #27273e;
    height: 77px;
    margin-top: 56px;
    font: 14px/1.42 GothamPro, sans-serif;
    color: white;
}

.socials {
    font-weight: bold;
}

.info, .logo, .socials {
    display: inline-block;
    width: 33%;
}

.info {
    padding-left: 20px;
    padding-top: 10px;
    float: left;
}

.socials {
    float: right;
}