.button {
  padding: rem(12px) rem(15px);
  border-radius: rem(5px);
  background: $main-orange;
  text-transform: uppercase;
  color: #fff;
  font-size: rem(13px);

  &:hover {
    background: $color-hover-button-orange;
  }
}

.button--gray {
  background: $main-dark-grey;

  &:hover {
    background: $color-hover-button-grey;
  }
}

