.nav {
  @include inlineblock(middle);

  @include tablets {
    display: none;
  }

  &_hamburger {
    width: auto;

    .nav__item {
      display: block;
      text-align: center;
      opacity: 0;
      animation-fill-mode: forwards;

      &:after {
        display: block;
        margin: rem(15px) auto;
      }
    }

    @include tablets {
      display: block;
    }
  }
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item {
  display: flex;
  align-items: center;
  margin-right: rem(18px);

  &:after {
    content: "";
    width: rem(4px);
    height: rem(4px);
    background: #fff;
    border-radius: 50%;
    display: block;
    margin-left: rem(15px);
  }


  &:last-child {
    margin-right: 0;
    &:after {
      display: none;
    }
  }
}

.nav__link {
  text-decoration: none;
  color: #fff;
  font-size: rem(13px);
  text-transform: uppercase;
  font-weight: 500;
}