.title {
  font-size: rem(72px);
  @include gagalin;
  color: $main-yellow;
  margin-bottom: rem(40px);
  line-height: 1;

  &--color {
    &--black {
      color: $main-dark-grey;
    }

    &--yellow {
      color: white;
    }
  }

  &--centered {
    text-align: center;
  }
}
