.review-form {
    font: 14px/1.42 GothamPro, sans-serif;
    color: #221f1f;
    margin-top: 55px;
    padding-top: 35px;
    padding-left: 65px;
    padding-right: 65px;
    width: 72%;
    min-width: 635px;
    height: 800px;
    background-color: #f5f5f5;
}

.form__title {
    font-size: 50px;
}