.socials {
    font-size: 17px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.socials__list {
    padding-top: 8px;
    margin-top: 0;
    margin-right: 25px;
}

.socials__item {
    display: inline-block;
}

.socials__link {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: no-repeat #d4d4d8 center;
    border-radius: 50%;
    margin-right: 5px;
}

.socials__link:hover {
    background-color: #b12167;
}

.socials__link_vk {
    background-image: url(../../img/vk.png);
}

.socials__link_fb {
    background-image: url(../../img/fb.png);
}

.socials__link_gg {
    background-image: url(../../img/google.png);
}

.socials__link_tw {
    background-image: url(../../img/twitter.png);
}

.socials__link_ml {
    background-image: url(../../img/mail.png);
}