.title {
    padding-top: 10px;
    font: 49px/1.42 GothamPro, sans-serif;
    font-weight: bold;
    color: #221f1f;
}

.section-title {
    font: 49px/1.42 GothamPro, sans-serif;
    font-weight: bold;
}